.container
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

.yourGamesText
{
    font-size: 70px;
}

.grid
{
    display: grid;
    
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: black; */
}
.history
{
    /* color: blue; */
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    background-color: #808080;
    height: 150px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;

   
}