.container
{
    display: flex;
   justify-content: center;

    padding-top: 50px;

    gap: 50px;


}

.container div
{
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.title
{
    display: flex;
   
    justify-content: center;
    font-size: 50px;
}

.login
{
    height: 100%;
    width: 50%;
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
   
 
    


}

.signup
{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;
    gap: 20px;


}

.email
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
}

.username
{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
}

.password
{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
}

.loginButton
{
    width: 258px;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
    background-color: white;
    
}

